parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    paths:
      - ./src
    ignoreErrors:
      -
        message: '#@SuppressWarnings has invalid value#'
        identifier: phpDoc.parseError
