<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
    >
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Unit/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/Integration/</directory>
        </testsuite>
        <testsuite name="all">
            <directory>./tests/Unit/</directory>
            <directory>./tests/Integration/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
        </exclude>
    </source>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>
