name: Test

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.2', '7.3', '7.4']
    name: PHP ${{ matrix.php }} tests
    steps:
      - uses: actions/checkout@v1
      - name: Install PHP
        uses: shivammathur/setup-php@1.3.7
        with:
          php-version: ${{ matrix.php }}
      - name: Debugging
        run: |
          php --version
          php -m
          composer --version
      - name: Install dependencies
        run: composer install --prefer-dist --no-suggest --no-progress
      - name: Run tests
        run: vendor/bin/phpunit